# =====================================================================
# Configuration file for Intel Core i7-14700K (Raptor Lake Refresh)
#
# This configuration is based on the Nehalem architecture, with values
# adjusted for modern processors using available public information.
# Some values are estimated.
# =====================================================================

#include core-raptor

# =====================================================================
# 1. Processor
# Defines the processor model and branch predictor.
# =====================================================================
[general]
total_cores = 20                    # 8 P-Cores and 12 E-Cores

[perf_model/core]
# Hyper-Threading (2 threads per core) is enabled on the 8 P-Cores
logical_cpus = 1                    # Default value for the 12 E-Cores
logical_cpus[] = 2,2,2,2,2,2,2,2    # Specific value for the 8 P-Cores
# P-Cores: 3.4 GHz, E-Cores: 2.5 GHz (Base Clocks)
frequency = 2.5
frequency[] = 3.4,3.4,3.4,3.4,3.4,3.4,3.4,3.4 #...

# Microarchitecture of P-Cores and E-Cores is identical to the i9-14900K,
# so the following parameters remain unchanged.
[perf_model/core/interval_timer]
dispatch_width = 5
dispatch_width[] = 6,6,6,6,6,6,6,6
# Re-order Buffer (ROB): 512 for Raptor Cove, 64 for Gracemont
window_size = 64
window_size[] = 512,512,512,512,512,512,512,512
# Load/Store Buffers
num_outstanding_loadstores = 20
num_outstanding_loadstores[] = 40,40,40,40,40,40,40,40

[perf_model/branch_predictor]
mispredict_penalty = 8
mispredict_penalty[] = 12,12,12,12,12,12,12,12


# =====================================================================
# 2. Memory Hierarchy (Cache & DRAM)
# Defines all cache levels and the main memory configuration.
# =====================================================================
[perf_model/l3_cache]
cache_size = 32768            # Approximate to 32 MB, since this processor actually has 33 MB of L3 cache
associativity = 16            # 16-way
data_access_time = 35
tags_access_time = 13
shared_cores = 8              # Following base file logic, maps to P-Cores

[perf_model/dram_directory]
total_entries = 4325376             # Scaled for 33 MB L3 (131072 entries/MB * 33 MB)

[perf_model/dram]
num_controllers = -1                # Use distributed DRAM controllers
controllers_interleaving = 20       # Interleave across 20 controller slices (matches total_cores)
latency = 40                        # Raw latency for DDR5, identical memory controller
per_controller_bandwidth = 3.92     # Total realistic bandwidth of 78.4 GB/s / 20 slices
chips_per_dimm = 8
dimms_per_controller = 4
burst_length = 16                   # Standard for DDR5
