# Configuration file for DONUTS Experiment
# Type: baseline

#include paper-picl

[general]
total_cores = 1

[caching_protocol]
type = parametric_dram_directory_msi

[perf_model/writebuffer]
asynchronous = 0        # a boolean 0..1 | default value: 0

[perf_model/l1_dcache]
writethrough = 0

[perf_model/l1_dcache/writebuffer]
enabled = 1
num_entries = 8         # 0..65535
insertion_latency = 0   # insertion latency (in ns) | default value: 0ns
coalescing = 1          # a boolean 0..1            | default value: 1 (???)
asynchronous = 0        # a boolean 0..1 | default value: 0

[perf_model/l2_cache]
writethrough = 0

[perf_model/l2_cache/writebuffer]
enabled = 1
num_entries = 16        # 0..65535
insertion_latency = 0   # insertion latency (in ns) | default value: 0ns
coalescing = 1          # a boolean 0..1            | default value: 1 (???)
asynchronous = 0        # a boolean 0..1 | default value: 0

[perf_model/l3_cache]
writethrough = 0

[perf_model/l3_cache/writebuffer]
enabled = 1
num_entries = 32        # 0..65535
insertion_latency = 0   # insertion latency (in ns) | default value: 0ns
coalescing = 1          # a boolean 0..1            | default value: 1 (???)
asynchronous = 0        # a boolean 0..1 | default value: 0

[perf_model/dram]
technology = dram       # used to define main memory technology # TODO: remove in the future!