# Configuration file for DONUTS Experiment
# Type: baseline-nvm

#include paper-picl

[general]
total_cores = 1

[caching_protocol]
type = parametric_dram_directory_msi

[perf_model/l3_cache/writebuffer]
enabled = 0
num_entries = 32

[perf_model/dram]
technology = nvm
read_latency = 19       # STT-RAM read 1.3-19, write 2-200 | RRAM read 3.3-2e3 | 5-1e5
write_latency = 2000000     # used on NVM technology (+ 8ns processing_time = 368ns)

# [perf_model/nvm]
# read_latency = 19                 # used on NVM technology (+ 8ns processing_time = 128ns)
# write_latency = 200               # used on NVM technology (+ 8ns processing_time = 368ns)