#include gainestown-nvm

[general]
project_type = donuts

[perf_model/cache]
levels = 3

[perf_model/l1_icache]
perfect = false
cache_size = 32
associativity = 4
address_hash = mask
replacement_policy = lru
data_access_time = 4
tags_access_time = 1
perf_model_type = parallel
writethrough = 0
shared_cores = 1

[perf_model/l1_dcache]
cache_size = 4
associativity = 4
writethrough = 0
shared_cores = 1

[perf_model/l2_cache]
cache_size = 16
associativity = 4
writethrough = 0
shared_cores = 1

[perf_model/l3_cache]
cache_block_size = 64
cache_size = 64
associativity = 8
replacement_policy = lru
writethrough = 0
shared_cores = 4
