# Configuration file for DONUTS project

#include donuts

[perf_model/nvm/pim]
enabled = 0                 # if 0 (disabled), perform logs via traditional method
log_policy = disabled       # created by Kleber Kruger (logging by PIM) options (disabled, lor, low, hybrid, cmd)
