# Configuration file for a system consisting of write-through cache
# and write buffer to next level

#include gainestown

[perf_model/cache]
levels = 3

[perf_model/l1_dcache]
writethrough = 1
shared_cores = 1

[perf_model/l1_dcache/writebuffer]
enabled = 1             # use CacheCntlrWrBuff class
num_entries = 8         # 0..65535
insertion_latency = 0   # insertion latency (in ns) | default value: 0ns
coalescing = 1          # a boolean 0..1            | default value: 1

[perf_model/l2_cache]
writethrough = 0
shared_cores = 2

[perf_model/writebuffer]
async_model = 0         # a boolean 0..1            | default value: 0

[perf_model/l2_cache/writebuffer]
enabled = 1             # use CacheCntlrWrBuff class
num_entries = 8         # 0..65535
insertion_latency = 0   # insertion latency (in ns) | default value: 0ns
coalescing = 1          # a boolean 0..1            | default value: 1

[perf_model/l3_cache]
writethrough = 0
shared_cores = 4